/* imports */
@import 'tailwindcss';

/* dark mode */
@variant dark (&:where(.dark, .dark *));

/* theme variables */
@theme {
    /* typograhy */
    --font-heading: "Gloock", serif;
    /* Might change to be serif? */
    --font-body: "Inter", sans-serif;

    /* === LIGHT MODE === */
    /* backgrounds */
    --color-bg-primary: #ffffff;
    /* bg-white */
    --color-bg-secondary: #f3f4f6;
    /* bg-gray-100 */
    --color-bg-tertiary: #e5e7eb;
    /* bg-gray-200 */
    --color-bg-accent: #fecaca;
    /* bg-red-200 */
    --color-bg-hover: #d1d5dc;
    /* bg-gray-300 */

    /* text */
    --color-text-primary: #000000;
    /* text-black */
    --color-text-secondary: #4b5563;
    /* text-gray-600 */
    --color-text-accent: #dc2626;
    /* text-red-600 */

    /* ===DARK MODE COLORS=== */
    /* backgrounds */
    --color-bg-primary-dark: #111827;
    /* bg-gray-900 */
    --color-bg-secondary-dark: #1f2937;
    /* bg-gray-800 */
    --color-bg-tertiary-dark: #374151;
    /* bg-gray-700 */
    --color-bg-accent-dark: #fee2e2;
    /* bg-red-100 */
    --color-bg-hover-dark: #4a5565;
    /* bg-gray-600 */

    /* text */
    --color-text-primary-dark: #ffffff;
    /* text-white */
    --color-text-secondary-dark: #9ca3af;
    /* text-gray-400 */
}

/* classes */
@layer utilities {

    /* big boi base */
    body {
        @apply flex justify-center items-center min-h-screen font-body leading-relaxed bg-bg-primary dark:bg-bg-primary-dark text-text-primary dark:text-bg-primary-dark transition-colors
    }

    /* headings */
    h1 {
        @apply font-heading font-bold text-4xl! leading-tight text-text-primary dark:text-text-primary-dark sm:text-5xl!
    }

    h2 {
        @apply font-heading font-bold text-2xl! text-text-primary dark:text-text-primary-dark sm:text-2xl!
    }

    /* paragraph */
    p {
        @apply text-sm text-text-primary dark:text-text-primary-dark sm:text-base
    }

    /* HIDE image carousel pagination bullets */
    .custom-carousel .swiper-pagination {
        @apply hidden
    }
}