---

interface Props {
    href: string;
}

// URL
const { href } = Astro.props;

// Wrapper handles the border-left line
const WrapperStyles = "group pl-2 border-l-2 border-gray-300 dark:border-gray-700 hover:border-black dark:hover:border-white transition-colors";
// The link styles itself
const PageLinkStyles = "block text-sm! cursor-pointer px-5 py-2 text-text-secondary dark:text-text-secondary-dark bg-bg-secondary dark:bg-bg-secondary-dark rounded-lg transition-all hover:italic hover:text-text-primary dark:hover:text-text-primary-dark hover:bg-bg-tertiary dark:hover:bg-bg-tertiary-dark sm:text-base";

---

<a href={href} class={WrapperStyles}>
    <span class={PageLinkStyles}>
        <slot />
    </span>
</a>