@import 'tailwindcss';

@layer utilities {

    /* big boi base */
    body { @apply overflow-x-hidden flex justify-center items-center min-h-screen p-10 bg-white }

    /* headings */
    h1 { @apply font-bold text-2xl }
    h2 { @apply font-bold text-lg }

    /* link cursor */
    a { @apply cursor-pointer
    
    /* placeholder */
    px-5 py-2 text-gray-600 bg-gray-100 rounded-md transition hover:text-black hover:bg-gray-200
    }

}