/* imports */
@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* theme variables */
@theme {
    /* typograhy */
    --font-heading: "Gloock", serif;
    --font-body: "Inter", sans-serif;
    /* colors:
        ===BACKGROUNDS===
        1. background: 'bg-white'
        2. containers/wrappers/component backgrounds: 'bg-gray-100'
        3. background-accent: 'bg-red-100'
        4. hover-background: 'bg-gray-200'
        ===TEXT===
        1. general: 'text-black'
        2. links: 'text-gray-600'
        3. text-accent: 'text-red-600'
        3. hover-links: 'text-black'
        ===OTHER===
        1. border-radius (all): 'rounded-md'
    */
}

/* classes */
@layer utilities {
    /* big boi base */
    body { @apply flex justify-center items-center min-h-screen font-body leading-relaxed bg-white }
    /* headings */
    h1 { @apply font-heading font-bold text-5xl leading-tight }
    h2 { @apply font-heading font-bold text-2xl }
    /* link cursor */
    a { @apply cursor-pointer
    /* placeholder */
    px-5 py-2 text-gray-600 bg-gray-100 rounded-md transition hover:text-black hover:bg-gray-200
    }
    
    /* image carousel pagination bullets */
    .custom-carousel .swiper-pagination { @apply flex justify-center items-center w-full! }
    .custom-carousel .swiper-pagination::before { content: ''; @apply absolute -z-1 px-4 py-2 bg-black/50 rounded-full }
    .custom-carousel .swiper-pagination-bullet-active { @apply bg-white! }
    .custom-carousel .swiper-pagination-bullet { @apply bg-gray-200! }
}